<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
  <div class="container">
    <a class="navbar-brand" href="/">Live Chat</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      *ngIf="!currentUser"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
          <!-- *ngIf="!auth.isLoggedIn()" -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
      </ul>
    </div>
    <div class="dropdown" *ngIf="currentUser">
      <button
        class="btn dropdown-toggle"
        type="button"
        (click)="openDropdown()"
      >
        {{ currentUser.first_name }} {{ currentUser.last_name }}

        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [ngClass]="{ show: openedDropdown }">
        <li>
          <span class="dropdown-item" (click)="logout()">
            Logout
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
